App_WebReferences/ws_Reporteador/Reporteador1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://siigmxapp02/WS_GMX/Reaseguro/Reporteador/Reporteador.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="InsertaVersionReporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_modulo" type="xs:int" />
        <xs:element minOccurs="0" name="cod_submodulo_web" type="xs:int" />
        <xs:element minOccurs="0" name="cod_reporte" type="xs:int" />
        <xs:element minOccurs="0" name="cod_usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filtros" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="formato" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sn_Temporal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaVersionReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="InsertaVersionReporteResult" nillable="true" type="q1:ArrayOfNullableOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>