App_WebReferences/ws_Generales/Generales1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Generales" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://gmxdfcnd5341lbq/WS_GMX/Generales/Generales.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://gmxdfcnd5341lbq/WS_GMX/Generales/Generales.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://gmxdfcnd5341lbq/WS_GMX/Generales/Generales.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_GMX" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGenerales_EnviaCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviaCorreo" />
  </wsdl:message>
  <wsdl:message name="IGenerales_EnviaCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviaCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IGenerales_ObtieneCatalogo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneCatalogo" />
  </wsdl:message>
  <wsdl:message name="IGenerales_ObtieneCatalogo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneCatalogoResponse" />
  </wsdl:message>
  <wsdl:message name="IGenerales_GetRamo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRamo" />
  </wsdl:message>
  <wsdl:message name="IGenerales_GetRamo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRamoResponse" />
  </wsdl:message>
  <wsdl:portType name="IGenerales">
    <wsdl:operation name="EnviaCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenerales/EnviaCorreo" message="tns:IGenerales_EnviaCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenerales/EnviaCorreoResponse" message="tns:IGenerales_EnviaCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneCatalogo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenerales/ObtieneCatalogo" message="tns:IGenerales_ObtieneCatalogo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenerales/ObtieneCatalogoResponse" message="tns:IGenerales_ObtieneCatalogo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRamo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenerales/GetRamo" message="tns:IGenerales_GetRamo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenerales/GetRamoResponse" message="tns:IGenerales_GetRamo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGenerales" type="tns:IGenerales">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviaCorreo">
      <soap:operation soapAction="http://tempuri.org/IGenerales/EnviaCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneCatalogo">
      <soap:operation soapAction="http://tempuri.org/IGenerales/ObtieneCatalogo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRamo">
      <soap:operation soapAction="http://tempuri.org/IGenerales/GetRamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Generales">
    <wsdl:port name="BasicHttpBinding_IGenerales" binding="tns:BasicHttpBinding_IGenerales">
      <soap:address location="http://gmxdfcnd5341lbq/WS_GMX/Generales/Generales.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>