App_WebReferences/ws_MesaControl/MesaControl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MesaControl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://siigmxapp02/WS_GMX/Reaseguro/MesaControl/MesaControl.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://siigmxapp02/WS_GMX/Reaseguro/MesaControl/MesaControl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://siigmxapp02/WS_GMX/Reaseguro/MesaControl/MesaControl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_GMX" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMesaControl_ObtieneIndicadores_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneIndicadores" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneIndicadores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneIndicadoresResponse" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneIdFolio_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneIdFolio" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneIdFolio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneIdFolioResponse" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneNegocio_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneNegocio" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneNegocio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneNegocioResponse" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneRiesgo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneRiesgo" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneRiesgo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneRiesgoResponse" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneGrupos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneGrupos" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneGrupos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneGruposResponse" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneDistribucion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneDistribucion" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneDistribucion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneDistribucionResponse" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneBrokers_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneBrokers" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneBrokers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneBrokersResponse" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneReaseguradores_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneReaseguradores" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneReaseguradores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneReaseguradoresResponse" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneSubjetividad_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneSubjetividad" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneSubjetividad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneSubjetividadResponse" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtienePolizasAseg_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtienePolizasAseg" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtienePolizasAseg_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtienePolizasAsegResponse" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneRiesgoPoliza_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneRiesgoPoliza" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_ObtieneRiesgoPoliza_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneRiesgoPolizaResponse" />
  </wsdl:message>
  <wsdl:portType name="IMesaControl">
    <wsdl:operation name="ObtieneIndicadores">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaControl/ObtieneIndicadores" message="tns:IMesaControl_ObtieneIndicadores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaControl/ObtieneIndicadoresResponse" message="tns:IMesaControl_ObtieneIndicadores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneIdFolio">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaControl/ObtieneIdFolio" message="tns:IMesaControl_ObtieneIdFolio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaControl/ObtieneIdFolioResponse" message="tns:IMesaControl_ObtieneIdFolio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneNegocio">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaControl/ObtieneNegocio" message="tns:IMesaControl_ObtieneNegocio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaControl/ObtieneNegocioResponse" message="tns:IMesaControl_ObtieneNegocio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneRiesgo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaControl/ObtieneRiesgo" message="tns:IMesaControl_ObtieneRiesgo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaControl/ObtieneRiesgoResponse" message="tns:IMesaControl_ObtieneRiesgo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneGrupos">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaControl/ObtieneGrupos" message="tns:IMesaControl_ObtieneGrupos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaControl/ObtieneGruposResponse" message="tns:IMesaControl_ObtieneGrupos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneDistribucion">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaControl/ObtieneDistribucion" message="tns:IMesaControl_ObtieneDistribucion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaControl/ObtieneDistribucionResponse" message="tns:IMesaControl_ObtieneDistribucion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneBrokers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaControl/ObtieneBrokers" message="tns:IMesaControl_ObtieneBrokers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaControl/ObtieneBrokersResponse" message="tns:IMesaControl_ObtieneBrokers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneReaseguradores">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaControl/ObtieneReaseguradores" message="tns:IMesaControl_ObtieneReaseguradores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaControl/ObtieneReaseguradoresResponse" message="tns:IMesaControl_ObtieneReaseguradores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneSubjetividad">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaControl/ObtieneSubjetividad" message="tns:IMesaControl_ObtieneSubjetividad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaControl/ObtieneSubjetividadResponse" message="tns:IMesaControl_ObtieneSubjetividad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtienePolizasAseg">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaControl/ObtienePolizasAseg" message="tns:IMesaControl_ObtienePolizasAseg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaControl/ObtienePolizasAsegResponse" message="tns:IMesaControl_ObtienePolizasAseg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneRiesgoPoliza">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaControl/ObtieneRiesgoPoliza" message="tns:IMesaControl_ObtieneRiesgoPoliza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaControl/ObtieneRiesgoPolizaResponse" message="tns:IMesaControl_ObtieneRiesgoPoliza_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMesaControl" type="tns:IMesaControl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtieneIndicadores">
      <soap:operation soapAction="http://tempuri.org/IMesaControl/ObtieneIndicadores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneIdFolio">
      <soap:operation soapAction="http://tempuri.org/IMesaControl/ObtieneIdFolio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneNegocio">
      <soap:operation soapAction="http://tempuri.org/IMesaControl/ObtieneNegocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneRiesgo">
      <soap:operation soapAction="http://tempuri.org/IMesaControl/ObtieneRiesgo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneGrupos">
      <soap:operation soapAction="http://tempuri.org/IMesaControl/ObtieneGrupos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneDistribucion">
      <soap:operation soapAction="http://tempuri.org/IMesaControl/ObtieneDistribucion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneBrokers">
      <soap:operation soapAction="http://tempuri.org/IMesaControl/ObtieneBrokers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneReaseguradores">
      <soap:operation soapAction="http://tempuri.org/IMesaControl/ObtieneReaseguradores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneSubjetividad">
      <soap:operation soapAction="http://tempuri.org/IMesaControl/ObtieneSubjetividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtienePolizasAseg">
      <soap:operation soapAction="http://tempuri.org/IMesaControl/ObtienePolizasAseg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneRiesgoPoliza">
      <soap:operation soapAction="http://tempuri.org/IMesaControl/ObtieneRiesgoPoliza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MesaControl">
    <wsdl:port name="BasicHttpBinding_IMesaControl" binding="tns:BasicHttpBinding_IMesaControl">
      <soap:address location="http://siigmxapp02/WS_GMX/Reaseguro/MesaControl/MesaControl.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>